.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.contact-title {
  width:100%; 
  align-items: flex-end;
  color: white;
  padding: 1%;
}

.contact-title > h1 {
  font-size: 70px;
}

.typeform-launch {
  display:inline-block;
  text-decoration:none;
  background-color:#222222;
  color:white;
  cursor:pointer;
  font-family: 'Raleway', Helvetica,Arial,sans-serif;
  font-size:20px;
  font-weight: normal;
  line-height:50px;
  text-align:center;
  margin:0;height:50px;
  padding:0px 33px;
  border: 2px solid transparent;
  border-radius: 25px;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

  transition: border-radius .3s, border-color .3s;
}

.typeform-launch:hover {
  border-radius: 0px;
  border-color: white;
  text-decoration: none;
  background-color:#222222;
  color:white;

}