.regame-nav, .hack-nav, .studio-nav {
	border: 2px solid transparent;
	transition: border-color .3s, border-radius .3s;
}

.portfolio-nav:hover {
  border-radius: 0px;
  text-decoration: none;
  background-color:#222222;
  color:white;
}

.regame-nav:hover {
	border-color: #ED6863 !important;
}

.hack-nav:hover {
	border-color: rgb(0,245,255);
}

.studio-nav:hover {
	border-color: #ffb200;
}

.portfolio {
	display: flex;
	width: 100%;
	padding-top: 50px;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: left;
	background: #222;
	flex-wrap: wrap
}

.item-container {
	box-sizing: border-box;
	position: relative;
	width: 33.33%;
	padding-bottom: 33.33%;
	overflow: hidden;
	background-color: transparent;
	display: inline-block; 	
	font-size: 16px;
	border: 3px solid transparent;
	transition: border-color .3s
}

.portfolio-item:before {
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	background-color: rgba(0,0,0,.5);
}

.portfolio-item:hover:before {
	background-color: rgba(0,0,0,0);
	transition: background-color .5s;
}

.portfolio-item {
  color: white;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right:  10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.regame > .portfolio-item {
	background-color: #ED6863;
}

.regame:hover {
	border-color: #ED6863;
}

.hackathon > .portfolio-item {
	background-color: rgb(0, 245, 255);
}

.hackathon:hover {
	border-color: rgb(0, 245, 255);
}

.studio > .portfolio-item {
	background-color: #ffb200;
}

.studio:hover {
	border-color: #ffb200;
}

/*
.item-container {
	flex: 0 1 auto;
	display: inline-block;
	position: relative;
	width: 20%;
	padding-top: 20%;
	margin: 10px;
	min-width: 200px;
	box-sizing: border-box;
	background-color: green;
}

.portfolio-item {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	min-height: 100px;
	min-width: 100px;
}
*/